@media screen and (max-width: 1485px) {
  .case_more {
    width: 1170px; } }

@media screen and (max-width: 1199px) {
  .case {
    width: 950px; }
  .banner {
    margin-top: 137px; }
  .stat__imgs-item {
    width: 50%; }
  .stat__data {
    padding-left: 0; }
    .stat__data-wrap {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      width: 100%;
      margin-top: 0; }
    .stat__data-img {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      width: 100%; }
      .stat__data-img img {
        margin-left: auto;
        margin-right: auto; }
  .vending__data-img {
    width: 400px; }
  .maintitle br, .title br, .subtitle br {
    display: none; }
  .advantages__img {
    width: 100%; }
    .advantages__img img {
      margin-left: auto;
      margin-right: auto; }
  .advantages__data {
    width: 100%;
    padding-right: 0; }
    .advantages__data br {
      display: none; }
  .partners__table {
    padding-left: 0;
    padding-right: 0; }
  .plans {
    padding-left: 0;
    padding-right: 0; }
  .popup {
    padding: 30px; }
    .popup__col:nth-of-type(1) {
      padding-right: 15px; }
    .popup__col:nth-of-type(2) {
      padding-left: 15px; }
  .input input {
    height: 50px;
    padding-left: 40px;
    font-size: 20px; }
  .input .icon {
    top: 15px;
    left: 10px; }
  .textarea textarea {
    height: 202px;
    padding: 10px 30px 10px 40px; }
  .textarea .icon {
    top: 15px;
    left: 10px; } }

@media screen and (max-width: 992px) {
  .case {
    width: 750px; }
  .banner {
    background-position: 0 0; }
    .banner__wrap {
      padding-left: 0;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto; }
    .banner__title {
      margin-left: 0; }
  .vending__data-text {
    width: 100%; }
  .vending__data-img {
    display: none; }
  .about {
    padding-bottom: 40px; }
  .mashine {
    width: 100%; }
    .mashine__img {
      margin-bottom: 15px; }
      .mashine__img img {
        left: 0; }
    .mashine__title, .mashine__item {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      right: auto !important;
      width: auto !important; }
    .mashine__title {
      margin-bottom: 10px; }
    .mashine__block {
      margin-bottom: 15px; }
    .mashine__item {
      padding-left: 25px; }
      .mashine__item span {
        width: 100% !important;
        padding-left: 0 !important;
        margin-left: 0 !important; }
      .mashine__item:after {
        display: none; } }

@media screen and (max-width: 767px) {
  body {
    font-size: 18px; }
  ul li {
    font-size: 18px; }
  .case {
    width: 100%; }
  .panel {
    padding-bottom: 21px;
    position: relative; }
    .panel__wrap {
      display: block; }
    .panel__logos img {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 10px; }
  .panel {
    text-align: center; }
    .panel__contact {
      margin-left: 0; }
      .panel__contacts {
        display: block; }
  .banner {
    margin-top: 0;
    background-size: cover; }
    .banner__title {
      display: none; }
    .banner__data br {
      display: none; }
    .banner__pack {
      width: 100%;
      height: auto !important;
      background: none;
      margin-bottom: 50px;
      -webkit-border-radius: 0 0 25px 25px;
              border-radius: 0 0 25px 25px;
      border: 2px solid #010101;
      border-top: none;
      background: none !important;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto; }
      .banner__pack.first {
        margin-bottom: 30px; }
      .banner__pack.last {
        margin-bottom: 20px; }
      .banner__pack-title {
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 15px;
        top: -7px; }
      .banner__pack-wrap {
        padding-left: 0;
        padding-bottom: 20px; }
        .banner__pack-wrap:before, .banner__pack-wrap:after {
          position: absolute;
          content: '';
          width: 25px;
          height: 2px;
          display: block;
          background: #010101;
          top: 0; }
        .banner__pack-wrap:before {
          left: 0; }
        .banner__pack-wrap:after {
          right: 0; }
      .banner__pack-price {
        margin-right: 10px; }
      .banner__pack-head {
        text-align: center; }
      .banner__pack-body {
        padding-left: 10px;
        margin-top: 20px; }
    .banner__desc {
      margin-top: 15px;
      text-align: center; }
  .about {
    padding-top: 30px;
    padding-bottom: 30px; }
    .about__nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .about__nav li {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
      .about__nav li:last-of-type {
        margin-bottom: 0; }
    .about__nav a:after {
      margin-top: 0px; }
    .about__tabs {
      min-height: 1px;
      padding-top: 25px; }
  .lottery {
    padding-top: 25px;
    padding-bottom: 25px; }
    .lottery__title {
      margin-bottom: 25px; }
    .lottery__tree {
      margin-bottom: 25px; }
  .stat {
    padding-top: 25px;
    padding-bottom: 5px; }
    .stat__title {
      margin-bottom: 25px; }
    .stat__imgs {
      margin-bottom: 25px; }
      .stat__imgs-item {
        width: 100%;
        margin-bottom: 10px; }
        .stat__imgs-item img {
          margin-left: auto;
          margin-right: auto; }
  .data li {
    padding-top: 18px;
    padding-bottom: 18px; }
    .data li:before {
      top: 24px; }
  .vending {
    padding-top: 25px;
    padding-bottom: 25px; }
    .vending__title {
      margin-bottom: 20px; }
    .vending__subtitle_yellow {
      display: none; }
    .vending__data {
      margin-bottom: 30px; }
  .partners {
    padding-top: 25px; }
    .partners__title {
      margin-bottom: 25px; }
  .partners__item, .plans__item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important; }
  .plans {
    margin-bottom: 10px; }
    .plans__item {
      margin-bottom: 30px; }
      .plans__item:last-of-type {
        margin-bottom: 0; }
  .partners {
    padding-bottom: 40px; }
  .addresses {
    padding-top: 25px;
    padding-bottom: 25px; }
    .addresses__title {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; }
    .addresses__order {
      margin-top: 0; }
  .sensis {
    margin-top: 30px; }
    .sensis__head {
      display: none; }
    .sensis__body {
      padding-bottom: 0px;
      line-height: 26px;
      text-indent: 15px; }
  .maintitle, .title, .subtitle {
    text-align: center; }
  .maintitle {
    font-size: 30px; }
  .title {
    font-size: 26px; }
  .subtitle {
    font-size: 24px; }
  .footer {
    padding-top: 20px;
    padding-bottom: 25px;
    background-size: cover; }
    .footer__logos {
      display: block;
      margin-bottom: 10px; }
      .footer__logos img {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 15px; }
    .footer__contact {
      margin-bottom: 15px;
      font-size: 18px; }
      .footer__contacts {
        text-align: center; }
  .popup__col {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .popup__btn {
    margin-top: 20px;
    height: 60px;
    line-height: 60px; }
  .popup .fancybox-close-small {
    width: 35px;
    height: 35px;
    padding: 0; }
  .plans__head {
    padding: 12px 15px; } }

@media screen and (max-width: 525px) {
  .stat__data-wrap span {
    padding-right: 0; }
  .stat__data-wrap span, .stat__data-wrap strong {
    width: 100%;
    text-align: left; } }

@media screen and (max-width: 450px) {
  .video {
    text-align: center; }
    .video iframe {
      height: 200px; } }
